:root {
  --color-grey: #434455;
  --color-blue: #4d5ae5;
  --color-darkgrey: #2e2f42;
  --color-button: #f4f4fd;
  --color-dark-blue: #404bbf;
  --color-white: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-grey);
  background-color: var(--color-white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

header li,
address li {
  display: inline-block;
  flex-direction: row;
}

.hed {
  border-bottom: 1px solid #e7e9fc;
}

.main-hed {
  display: flex;
  align-items: center;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo-hed {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-blue);
}

.link {
  text-decoration: none;
}

.part-logo {
  color: var(--color-darkgrey);
}

.list {
  list-style: none;
}

.hed .list {
  display: flex;
  gap: 40px;
}

.list-menu {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-darkgrey);
  padding: 24px 0;
}

.list-menu.link {
  position: relative;
}

.list-menu:hover,
.list-menu:focus {
  color: var(--color-dark-blue);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}

.list-contacts:hover,
.list-contacts:focus {
  color: var(--color-dark-blue);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-port:hover,
.hero-port:focus {
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 2px 1px rgba(0, 0, 0, 0.08),
    0 3px 1px rgba(0, 0, 0, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.name-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-darkgrey);
  margin-bottom: 8px;
}

.text-header {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}

.foot-part-logo {
  color: var(--color-button);
}

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0;
  max-width: 1440px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/phone-hero.jpg);
  position: relative;
}

.header-one {
  font-family: 'Roboto';
  font-size: 56px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-white);
  line-height: 1.07;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

/*section 2 */

.section-two {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-two .list {
  display: flex;
  gap: 24px;
}

.list-advantages {
  width: calc((100% - 72px) / 4);
  width: 264px;
  height: 112px;
}

.header-three {
  /* section 2 and section 3 */
  font-family: 'Roboto' sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--color-darkgrey);
  margin-bottom: 8px;
}

/*section 3 */
.section-three {
  padding-bottom: 120px;
}

.header-two {
  font-family: 'Roboto' sans-serif;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-darkgrey);
  margin-bottom: 72px;
}

.section-three .list {
  display: flex;
  padding: 0;
  gap: 24px;
}

.list-three {
  width: calc((100% - 48px) / 3);
}

img {
  margin: 0;
  padding: 0;
  display: block;
}

/*section 4 */
.section-four {
  background-color: var(--color-button);
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-four .list {
  display: flex;
  margin-top: 72px;
  padding: 0;
  justify-content: center;
  gap: 24px;
}

.section-four .list-name {
  text-align: center;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.worker {
  padding: 32px 16px 0 16px;
}

.header-worker {
  font-weight: 500;
  text-align: center;
  margin-bottom: 8px;
}

.worker-text {
  text-align: center;
}

.list-name-portfolio {
  background-color: var(--color-white);
  width: calc((100% - 48px) / 3);
}

.list-name-portfolio:hover,
.list-name-portfolio:focus {
  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-name {
  background-color: var(--color-white);
  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  background-color: var(--color-blue);
  color: var(--color-white);
  cursor: pointer;
  padding: 0;
  margin-top: 48px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  gap: 10px;
  display: block;
}

.button:hover,
.button:focus {
  background-color: var(--color-dark-blue);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.text-add {
  font-style: normal;
  margin-left: auto;
}

.text-add .list {
  display: flex;
  gap: 40px;
}

.list-contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}

.list-contacts:hover,
.list-contacts:focus {
  color: var(--color-dark-blue);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.advantages-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}

/* footer */

.foot-sect {
  background-color: var(--color-darkgrey);
  padding: 100px 0;
}

.text-footer {
  color: var(--color-button);
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 264px;
}

.foot-sect .logo.link {
  display: inline-block;
  flex-direction: column;
  margin-bottom: 16px;
}

.logo.link-head {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-blue);
  margin-right: 76px;
}

.part-logo {
  color: var(--color-darkgrey);
}

.foot-part-logo {
  color: var(--color-button);
}

/* portfolio */
.list.main {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.container .but {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.hero-port {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-blue);
  background-color: var(--color-button);
  cursor: pointer;
  margin: 0;
  height: 48px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.hero-port:hover,
.hero-port:focus {
  border: 1px solid transparent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.bord {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.main-text {
  padding: 96px 0 120px 0;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.item-customers {
  width: calc((100% - 5 * 24px) / 6);
  width: 168px;
  height: 88px;
}

.customers-link {
  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-five h2 {
  margin-top: 100px;
}

.customers-link:hover,
.customers-link:active {
  color: #404bbf;
  border-color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon {
  fill: currentColor;
}

.section-five .container {
  margin-bottom: 120px;
}

.worker-icon {
  display: flex;
  margin: 0;
}

.all-icon {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.one-icon {
  width: 40px;
  height: 40px;
  width: calc((100% - 24px) / 3);
}

.list-icon {
  margin: 0;
  padding: 8px 16px 32px 16px;
  gap: 24px;
  display: flex;
}

.all-icon:hover,
.all-icon:focus {
  background-color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.advantages-icons {
  display: flex;
  gap: 24px;
  padding: 0;
}

.list-icons {
  width: calc((100% - 72px) / 4);
  width: 264px;
  height: 112px;
}

.section-two-icons {
}

.advantages-list {
  background-color: #f4f4fd;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot-two {
  margin-left: 120px;
}
.container.foot {
  display: flex;
}
.foot-two-text {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  padding-bottom: 16px;
}

.link-foot {
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.foot-icon {
  width: calc((100% - 48px) / 3);
  width: 40px;

  height: 40px;
}

.foot-icon-link {
  display: flex;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.foot-icon-link:hover,
.foot-icon-link:active {
  background-color: #31d0aa;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal {
  fill: currentColor;
}
/* ------- Portfolio overlay --------*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-hidden {
  position: relative;
  overflow: hidden;
}

.container-hidden:hover .overlay {
  transform: translateX(0);
  background-color: #4d5ae5;
}

.hidden-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  padding: 40px 32px 0 32px;
}

/* ------ Modal Window ----- */
.button-close {
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.button-close:active,
.button-close:hover {
  background-color: #404bbf;
  color: #ffffff;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.text-modal {
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  display: block;
  width: 100%;
}
